<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nameAPI</title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="https://kit.fontawesome.com/8fb7fe186b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Poppins:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <button id="openNav" class="navOpenBtn"><i class="fa-solid fa-bars"></i></button>
        <div class="NavTitle">Name API</div>
    </div>
    <div class="sidebar" id="sidebar">
        <button class="navCloseBtn" id="closeNav"><i class="fa-solid fa-x"></i></button>
        <div class="sideLabeldiv">
            <a href="#home" class="sideLabel">
                <div><i class="fa-solid fa-house"></i></div>
                <div class="label">Home</div>
            </a>
        </div>
        <div class="sideLabeldiv">
            <a href="#doc" class="sideLabel">
                <div><i class="fa-solid fa-book"></i></div>
                <div class="label">doc</div>
            </a>
        </div>
        <div class="sideLabeldiv">
            <a href="https://github.com/AlCo2" class="sideLabel">
                <div><i class="fa-brands fa-github"></i></div>
                <div class="label">Github</div>
            </a>
        </div>
    </div>
    <div class="home" id="home">
        <div class="introLabel">
            Generate random<span class="name">Name</span> 
        </div>
        <div class="generateNameDiv">
            <form class="generateNameForm" action="/" method="POST">
                <select class="selectPlace" name="gender" id="">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <div>
                    <label for="">Arabic</label>
                    <input type="radio" name="region" value="1" id="">
                    <label for="">American</label>
                    <input type="radio" name="region" value="3" id="">
                    <label for="">European</label>
                    <input type="radio" name="region" value="2" id="">  
                </div>
                <button class="generateBtn">Generate</button>
            </form>
        </div>
        <div class="generatedName"><p>{{name}}</p></div>
    </div>
    <div class="doc" id="doc">
        <div class="insideDoc">
            <div class="introDoc">API Docs</div>
            <div class="docIntroP">
                <p>The name API well-supported nature makes it exceptionally user-friendly. Below, you'll discover comprehensive details on how effortlessly you can integrate its functionalities into your application.</p>
            </div>
            <div style="margin-top: 50px;font-size: 40px;font-weight: bold;">Soon...</div>
        </div>
    </div>

    <script src="/static/index.js"></script>
</body>
</html>
